/** 
 * Define @font-face and CSS classes for fonts in this file
 **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

@font-face {
    font-family: "Cera Pro Regular";
    src: url("./assets/fonts/cerapro-regular.otf") format('truetype');
}

@font-face {
    font-family: "Cera Pro Bold";
    src: url("./assets/fonts/cerapro-bold.otf") format('truetype');
}

@font-face {
    font-family: "Cera Compact Pro";
    src: url("./assets/fonts/CeraCompactPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Cera Compact Regular";
    src: url("./assets/fonts/CeraCompactPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("./assets/fonts/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "NotoSans-Regular";
    src: url("./assets/fonts/NotoSans-Regular.ttf") format('truetype');
}