/**
 * CSS for Specific Project Footer
**/
.section-footer {
    position: relative;
    z-index: 20;
    background: url("./assets/images/footer-bg.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 69px 0 45px 0;
    margin-top: -24px;
    p {
        color: #fff;
        font-size:18px;
    }
}