/**
 * CSS for Specific Project Layout
**/

html,
body {
  background: #39285f;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}

.wrapper {
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  font-family: "NotoSans-Regular";
  font-weight: 500;
  color: #39285f;
}