.section-meet {
    position: relative;
    z-index: 10;
    background: url("./assets/images/meet-bg.png") no-repeat;
    background-size: 105% 100%;
    height: 542px;
    margin-top: -20px;
    padding: 40px 0 25px 0;

    &-title {
        position: relative;
        width: 726px;
        margin: 0 auto;

        .title {
            max-width: 100%;
        }

        .icon {
            position: absolute;

            &.active {
                animation: zoomIconHead 3s ease-in-out infinite;
            }

            @keyframes zoomIconHead {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.15);
                }

                100% {
                    transform: scale(1);
                }
            }

            &.left {
                top: -19%;
                left: -7%;
            }

            &.right {
                top: -15%;
                right: -2%;
            }
        }
    }

    &-subtitle {
        p {
            font-size: 20px;
            font-family: "NotoSans-Regular";
            padding: 8px 0;
        }
    }

    &-sliders {
        position: relative;
        z-index: 10;

        // padding-left: 20px;
        .owl-carousel {
            z-index: 9;
        }

        &-item {
            position: relative;
            z-index: 9;
            height: 340px;
            transform: translateX(-10%);

            &.none {
                visibility: hidden;
                animation: none;
            }

            .name {
                position: absolute;
                top: -6%;
                left: 10%;
                animation: nameInf 2s ease-in-out infinite;

                &.paisley {
                    left: 40%;
                }

                &.liann {
                    left: 22%;
                }

                &.olly {
                    top: -3%;
                    left: 23%;
                }

                &.leo,
                &.zac {
                    left: 22%;
                }
            }

            @keyframes nameInf {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(10px)
                }

                100% {
                    transform: translateY(0);
                }
            }

            &.first {
                transform: translateX(0);

                &.active {
                    visibility: visible;
                    animation: fadeCharacter 1s ease-in-out;
                }
            }

            &.liann {
                transform: translateX(-25%);
            }

            &.olly {
                transform: translateX(-35%);

                img {
                    padding-top: 30px;
                }
            }

            &.aliya {
                transform: translateX(-36%);
            }

            &.leo {
                transform: translateX(-38%);
            }

            &.zac {
                transform: translateX(-40%);
            }

            &.nova {
                transform: translateX(-38%);
            }

            .image {
                height: auto !important;
                width: auto !important;
                padding-top: 40px;
            }

            @keyframes fadeCharacter {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        &-wave {
            position: absolute;
            z-index: 2;
            top: 49%;
            left: 3%;
            transform: translateY(-50%);
            height: 156px;
            visibility: hidden;

            &.active {
                visibility: visible;
                object-fit: cover;
                object-position: 0 100%;
                animation: rightToLeft2 6s;
            }
        }

        @keyframes rightToLeft2 {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }

        &-arrow {
            position: absolute;
            z-index: 99;
            bottom: -5%;
            left: 48%;
            transform: translateX(-50%);
            text-align: center;


            p {
                font-size: 18px;

            }
        }
    }

    &-list {
        width: 100%;
        overflow: hidden;
        float: left;

        &-container {
            width: 2000px;
            float: left;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;

            &-item {
                position: relative;
                z-index: 9;
                height: 340px;

                // &.none {
                //     .icon {
                //         visibility: hidden;
                //         animation: none;
                //     }
                // }
                // &.active {
                //     .icon {
                //         animation: fadeIcon 1s ease-in-out;
                //     }
                // }
                &.liann,
                &.leo {
                    transform: translateX(-20px);
                }

                .doodles {
                    position: absolute;
                    z-index: 8;
                    top: 28%;
                    left: 0;
                    pointer-events: none;

                    &.none {
                        visibility: hidden;
                        animation: none;
                    }

                    &.active {
                        animation: fadeIcon 1s ease-in-out;
                    }

                    &.autumn {
                        left: -10%;
                    }

                    &.autumn,
                    &.liann {
                        top: 19%;
                    }

                    &.olly {
                        top: 6%;
                        left: 6%;
                    }

                    &.aliya {
                        top: 14%;
                        left: 9%;
                    }

                    &.leo {
                        top: 17%;
                        left: 2%;
                    }

                    &.zac {
                        top: 14%;
                        left: -10%;
                    }

                    &.nova {
                        top: 26%;
                        left: 10%;
                    }
                }

                .name {
                    position: absolute;
                    top: 2%;
                    left: 10%;
                    // animation: nameInf 2s ease-in-out infinite;
                    animation: zoomName 5s ease-in-out infinite;
                    animation-delay: 2s;

                    &.paisley {
                        left: 40%;
                    }

                    &.liann {
                        left: 36%;
                    }

                    &.olly {
                        top: 3%;
                        left: 32%;
                    }

                    &.aliya {
                        left: 15%;
                    }

                    &.leo {
                        left: 30%;
                    }

                    &.zac {
                        top: 5%;
                        left: 14%;
                    }

                    &.nova {
                        top: 7%;
                        left: 30%;
                    }
                }

                @keyframes nameInf {
                    0% {
                        transform: translateY(0);
                    }

                    50% {
                        transform: translateY(10px)
                    }

                    100% {
                        transform: translateY(0);
                    }
                }

                .image {
                    position: relative;
                    z-index: 7;
                    height: auto !important;
                    width: auto !important;
                    padding-top: 40px;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        transform: scale(1.06);
                    }

                    &.paisley {
                        padding: 40px 50px 0 175px;
                    }

                    &.autumn {
                        padding: 40px 40px 0 20px;
                    }

                    &.liann {}

                    &.olly {
                        padding: 40px 40px 0 60px;
                    }

                    &.aliya {
                        padding: 40px 40px 0 20px;
                    }

                    &.leo {
                        padding: 40px 40px 0 0;
                    }

                    &.zac {
                        padding: 50px 40px 0 35px;
                    }

                    &.nova {
                        padding: 54px 40px 0 20px;
                    }
                }

                @keyframes fadeIcon {
                    0% {
                        opacity: 0;
                        transform: scale(0);
                    }

                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }

            &-wave {
                position: absolute;
                z-index: 2;
                top: 49%;
                left: 1%;
                transform: translateY(-50%);
                height: 156px;
                visibility: hidden;

                &.active {
                    visibility: visible;
                    object-fit: cover;
                    object-position: 0 100%;
                    animation: rightToLeft2 5s;
                }
            }

            @keyframes rightToLeft2 {
                0% {
                    width: 0;
                }

                100% {
                    width: 96%;
                }
            }

            &-arrow {
                position: absolute;
                z-index: 99;
                bottom: 7%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                transition: opacity 1s ease-in-out;

                &.hide {
                    opacity: 0;
                }

                img {
                    animation-duration: 4s;
                }

                p {
                    font-size: 18px;
                    font-family: "NotoSans-Regular";
                }
            }
        }
    }
}