.section-banner {
  &-carousel {
    width: 100%;
  }
  &-background {
    background-size: 100% 100%;
    height: 50vh;
    width: 100%;
    display: block;
    &.princecss {
      background: url("./assets/images/banner-bg-princess.png") no-repeat;
    }
  }
}
