.section-videos {
    position: relative;
    background: url("./assets/images/bg-blue.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 80px 0 60px 0;
    margin-top: -2px;

    &::before {
        content: "";
        position: absolute;
        z-index: 99;
        top: -30px;
        left: 0;
        width: 100%;
        height: 80px;
        background: url("./assets/images/quiz-bottom.png") no-repeat;
        background-size: 100% 100%;
    }

    &-button {
        margin-top: 2rem;
        img {
            max-width: 200px;
        }
        &.active {
            animation: zoomIcon 2s ease infinite;
        }
    }

    &-title {
        position: relative;
        width: 520px;
        margin: 0 auto;
        padding-bottom: 24px;

        .title {
            max-width: 100%;
        }

        .icon {
            position: absolute;

            &.active {
                animation: zoomIconHead 3s ease-in-out infinite;
            }

            &.left {
                top: 5%;
                left: -19%;
            }

            &.right {
                top: -1%;
                right: -15%;
            }
        }
    }

    &-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("./assets/images/video-content.png") no-repeat;
        background-size: 100% 100%;
        max-width: 73%;
        margin: 0 auto;
        height: 100px;
        margin-top: 40px;

        p {
            font-family: "NotoSans-Bold";
            font-size: 17px;
            line-height: 25px;
            color: #58338b;
            &.mb {
                display: none;
            }
        }

        .icon {
            position: absolute;

            &.active {
                animation: zoomIconHead 3s ease-in-out infinite;
            }

            &.left {
                top: -65%;
                left: -4%;
            }

            &.right {
                top: -70%;
                right: -5%;
            }
        }
    }

    &-video {
        position: relative;
        max-width: 575px;
        margin: 0 auto;

        &-border {
            background: url("./assets/images/tvc-frame.png") no-repeat;
            background-size: 100% 100%;
            padding: 30px 35px 35px 38px;
            line-height: 0;

            @-moz-document url-prefix() {
                .firefox-play {
                    display: none;
                }
            }

            @supports (-webkit-touch-callout: none) {
                .firefox-play {
                    display: none;
                }
            }

            &_replay {
                display: none;

                &.show {
                    display: block;
                }
            }

            video {
                margin-bottom: -1px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-carousel {
        // display: none;
        position: relative;
        max-width: 82%;
        margin: 30px auto 0 auto;

        .owl-stage {
            height: 250px;
        }

        .owl-item {
            background-color: #d25d8b !important;
            box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
        }

        &-item {
            background-color: #d25d8b !important;

            .image {
                position: relative;
                height: 142px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    padding-top: 3px;

                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url("./assets/images/btn_play.png") no-repeat;
                    background-size: 100% 100%;
                }
            }

            p {
                font-family: "NotoSans-Bold";
                color: #fff;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                min-height: 112px;
                padding: 8px 8px 0 8px;
            }
        }

        .owl-nav {
            margin: 0;
            padding: 0;

            button {
                position: absolute;
                top: 15%;
                background: none !important;
                outline: 0 !important;
                z-index: 1;
                transform: translateY(-50%);
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: pulseBtn;
                animation-name: pulseBtn;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;

                &.owl-prev,
                &.owl-next {
                    margin: 0 !important;
                    padding: 1rem !important;

                    img {
                        width: 78px;
                    }
                }

                &.owl-prev {
                    left: -115px;
                }

                &.owl-next {
                    animation-delay: 0.5s;
                    right: -115px;
                }
            }
        }
    }
}