.section-tvc {
    position: relative;
    z-index: 10;
    padding: 60px 0 10px 0;
    background: url("./assets/images/bg-blue.jpg") no-repeat;
    background-size: 100% 100%;
    font-family: "NotoSans-Regular";

    &-title {
        position: relative;
        width: 428px;
        margin: 0 auto;

        .title {
            max-width: 100%;
        }

        .icon {
            position: absolute;

            &.active {
                animation: zoomIconHead 3s ease-in-out infinite;
            }

            &.left {
                top: -62%;
                left: -14%;
            }

            &.right {
                top: -34%;
                right: -9%;
            }
        }
    }

    &-title {
        text-align: center;
        padding-bottom: 20px;
    }

    &-video {
        position: relative;
        max-width: 575px;
        margin: 0 auto;

        &-border {
            background: url("./assets/images/tvc-frame.png") no-repeat;
            background-size: 100% 100%;
            padding: 30px 35px 35px 38px;
            line-height: 0;

            @-moz-document url-prefix() {
                .firefox-play {
                    display: none;
                }
            }

            @supports (-webkit-touch-callout: none) {
                .firefox-play {
                    display: none;
                }
            }

            &_replay {
                display: none;

                &.show {
                    display: block;
                }
            }

            video {
                margin-bottom: -1px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-toggle {
        max-width: 490px;
        padding: 24px 0;

        &-container {
            border-radius: 8px;
            margin: 0 22px;
            // width: 215px;
        }

        &-item {
            p {
                font-family: "NotoSans-Bold";
                padding-top: 8px;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                font-size: 17px;
                font-weight: 700;
                color: #623896;
                white-space: nowrap;
            }
        }
    }
}