.section-products {
    background: url("./assets/images/bg-blue.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: -1px;

    &-carousel {
        position: relative;
        max-width: 82%;
        margin: 0 auto;

        &-item {
            .card {
                background: transparent;
                border: none;

                &-content {
                    height: 315px;
                    overflow: hidden;
                    background: url("./assets/images/gallery_frame.png") no-repeat;
                    background-size: 100% 100%;
                    pointer-events: none;

                    &-image {
                        width: 93% !important;
                        height: 200px;
                        object-fit: cover;
                        margin: 6px auto 0 auto;
                    }

                    &-text {
                        padding: 6px 14px 0 14px;

                        h4 {
                            font-family: "NotoSans-Bold";
                            font-size: 17px;
                            line-height: 21px;
                            font-weight: 600;
                            color: #623896;
                            min-height: 50px;
                            padding-bottom: 8px;
                        }

                        p {
                            font-family: "NotoSans-Regular";
                            font-size: 14px;
                            color: #000;
                            line-height: 20px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                }

                &-btn {
                    pointer-events: none;

                    img {
                        width: auto;
                        height: auto;
                        margin: 20px auto;
                    }
                }
            }
        }

        .owl-nav {
            margin: 0;
            padding: 0;

            button {
                position: absolute;
                top: 40% !important;
                background: none !important;
                outline: 0 !important;
                z-index: 1;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-animation-name: pulseBtn;
                animation-name: pulseBtn;
                -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;

                &.owl-prev,
                &.owl-next {
                    margin: 0 !important;
                    padding: 1rem !important;
                }

                &.owl-prev {
                    left: -115px;
                }

                &.owl-next {
                    animation-delay: 0.5s;
                    right: -115px;
                }
            }
        }
    }
}