.section-hero {
    position: relative;
    height: 100vh;
    max-height: 744px;
    padding: 30px 0;
    background: url("./assets/images/hero-bg.png") no-repeat;
    background-size: 100% 100%;

    &::after {
        content: "";
        position: absolute;
        z-index: 3;
        top: 0%;
        right: -30%;
        width: 952px;
        height: 302px;
        background: url("./assets/images/hero-branch.png");
        background-size: 100% 100%;
    }

    &-content {
        display: flex;
        align-items: center;
        padding-top: 20px;

        &-text {
            position: relative;
            z-index: 10;

            .image-main {
                &.none {
                    visibility: hidden;
                    animation: none;
                }

                visibility: visible;
                animation-duration: 1s;
                // transform: translateX(0px);
            }

            .icon-hero {
                position: absolute;

                &.none {
                    animation: none;
                    visibility: hidden;
                }

                visibility: visible;
                animation-duration: 1s;

                &.active {
                    animation: zoomIcon 3s ease infinite;
                }

                &.first {
                    top: -39%;
                    left: 29%;
                }

                &.two {
                    top: -16%;
                    right: -4%;
                }

                &.three {
                    top: 32%;
                    left: 0%;
                }

                &.four {
                    bottom: 17%;
                    right: -27%;
                    height: 80px;
                }

                &.five {
                    bottom: -58%;
                    right: 27%;
                    max-height: 80px;
                }

                &.six {
                    bottom: -31%;
                    left: 21%;
                }
            }

            @keyframes zoomIcon {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }
        }

        &-characters {
            position: relative;

            // z-index: 8;
            &-wave {
                position: absolute;
                z-index: 2;
                top: 46%;
                // right: -45%;
                right: -24%;
                transform: translateY(-50%);
                height: 120%;
                visibility: hidden;

                &.active {
                    visibility: visible;
                    object-fit: cover;
                    object-position: 100% 0;
                    animation: rightToLeft 2.3s ease-out;
                }
            }

            @keyframes rightToLeft {
                0% {
                    width: 0%;
                }

                100% {
                    // width: 183%;
                    width: 120%;
                }
            }

            &-main {
                position: relative;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .name {
                position: absolute;
                z-index: 3;
                animation: zoomName 5s ease-in-out infinite;
                animation-delay: 2s;

                @keyframes zoomName {
                    0% {
                        transform: scale(1);
                    }

                    25% {
                        transform: scale(1.1);
                    }

                    50% {
                        transform: scale(1);
                    }
                }

                &.none {
                    visibility: hidden;
                    animation: none;
                }

                visibility: visible;

                &.nova {
                    top: 5%;
                    left: 15%;
                }

                &.olly {
                    top: -1%;
                    left: 31%;
                }

                &.aliya {
                    top: -3%;
                    left: 49%;
                }

                &.paisley {
                    top: -1%;
                    right: 14%;
                }

                &.autumn {
                    bottom: 40%;
                    right: 10%;
                }

                &.leo {
                    bottom: 34%;
                    right: 30%;
                }

                &.liann {
                    bottom: 33%;
                    left: 40%;
                }

                &.zac {
                    bottom: 27%;
                    left: 18%;
                }
            }
        }
    }
}