.section-quiz {
    position: relative;
    z-index: 9;
    background: url("./assets/images/bg-blue.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 80px 0 25px 0;
    margin-top: -45px;
    &::before {
        content: "";
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: url("./assets/images/quiz-bottom.png") no-repeat;
        background-size: 100% 100%;
    }
    &-title {
        position: relative;
        width: 678px;
        margin: 0 auto;
        .title {
            max-width: 100%;
        }
        .icon {
            position: absolute;
            &.active {
                animation: zoomIconHead 3s ease-in-out infinite;
            }
            &.left {
                top: -8%;
                left: 6%;
            }
            &.mid {
                left: 42%;
                display: none;
            }
            &.right {
                top: 4%;
                right: 4%;
            }
        }
    }
    div {
        text-align: center;
    }
    &-subtitle {
        position: relative;
        z-index: 10;
        padding: 10px 0;
        p {
            font-family: "NotoSans-Regular";
            color: #fff;
            font-size: 18px;
            &.mb {
                display: none;
            }
        }
    }
    &-characters {
        position: relative;
        z-index: 9;
    }
    &-button {
        position: relative;
        z-index: 10;
        cursor: pointer;
        padding: 10px 0 25px 0;
        &.active {
            animation: zoomIcon 2s ease infinite;
        }
    }
}