@media only screen and (max-width: 1200px) {
  .gallery-character {
    &-body {
      padding: 40px 20px;
    }
  }
  .gallery-character,
  .gallery-modal {
    .modal-dialog {
      width: 97%;
      margin: 0 auto;
    }
    &-body {
      &-inner {
        height: auto;
      }
    }
    &-left {
      &-col {
        flex: 0 0 55%;
        max-width: 55%;
      }
    }
    &-right {
      &-col {
        flex: 0 0 45%;
        max-width: 45%;
        padding: 0 0.5rem;
      }
    }
    &-carousel {
      .owl-stage {
        height: auto;
        max-height: 400px;
      }
    }
    &-image {
      &-main {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .gallery-character {
    .modal-dialog {
      width: 60vw;
    }
    &-item {
      &-inner {
        flex-direction: column;
      }
    }
    &-infor {
      img {
        padding-left: 0;
        transform: scale(0.7) translateX(-17px);
      }
      &-title {
        margin: 0.5rem 0 0.5rem 0;
      }
      &-desc {
        padding: 0 12px;
      }
    }
    &-body {
      background: url("./assets/images/bg_popup_character_mb.png") no-repeat;
      background-size: 100% 100%;
      padding: 32px 16px;
      &-inner {
        height: auto;
      }
    }
    &-left {
      &-col {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &-right {
      &-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0 0 0;
      }
    }
    &-close {
      height: 48px;
      width: 48px;
      top: 0;
    }
    &-carousel {
      .owl-stage {
        height: auto;
        max-height: 530px;
      }
      .owl-nav {
        button {
          &.owl-next {
            right: -50px;
          }
          &.owl-prev {
            left: -50px;
          }
          img {
            width: 54px;
            height: 54px;
          }
        }
      }
    }
    &-image {
      &-main {
        img {
          width: 100% !important;
          height: auto;
          object-fit: contain;
          max-height: 300px;
        }
      }
    }
  }
  .gallery-modal {
    .modal-dialog {
      width: 77%;
    }
    &-body {
      background: url("./assets/images/bg_popup_product-mb-2.png") no-repeat;
      background-size: 100% 100%;
      padding: 90px 60px 60px 54px;
      &-inner {
        .owl-carousel {
          height: auto !important;
        }
      }
    }
    &-carousel {
      .owl-stage {
        max-height: 700px;
      }
    }
    &-infor {
      &-desc {
        // display: none;
        // white-space: unset;
        // &.mobile {
        //     display: block;
        // }
      }
    }
    &-image {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &-main {
        width: 80%;
        max-height: unset;
        margin: 0;
        img {
          max-width: 100%;
        }
      }
      &-col {
        flex: unset;
        max-width: 100%;
      }
      &-list {
        width: 20%;
        flex-direction: column;
        justify-content: space-between;
        flex: unset;
        img {
          height: auto;
        }
      }
    }
    &-left {
      &-col {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &-right {
      &-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .gallery-modal {
    .modal-dialog {
      width: 97%;
    }
  }
  .gallery-character {
    .modal-dialog {
      width: 77%;
    }
    &-item {
      &-inner {
        flex-direction: column;
      }
    }
    &-infor {
      img {
        padding-left: 0;
        transform: scale(0.7) translateX(-17px);
      }
      &-title {
        margin: 0.5rem 0 0.5rem 0;
      }
      &-desc {
        padding: 0 12px;
      }
    }
    &-body {
      background: url("./assets/images/bg_popup_character_mb.png") no-repeat;
      background-size: 100% 100%;
      padding: 32px 16px;
      &-inner {
        height: auto;
      }
    }
    &-close {
      height: 48px;
      width: 48px;
      top: 0;
    }
    &-carousel {
      .owl-stage {
        height: auto;
        max-height: 530px;
      }
      .owl-nav {
        button {
          &.owl-next {
            right: -50px;
          }
          &.owl-prev {
            left: -50px;
          }
          img {
            width: 54px;
            height: 54px;
          }
        }
      }
    }
    &-image {
      &-main {
        img {
          width: 100% !important;
          height: auto;
          object-fit: contain;
          max-height: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .gallery-character {
    .modal-dialog {
      width: 100%;
    }
    &-content {
      padding: 1rem 0.5rem 1rem 0.5rem;
    }
    &-close {
      top: -10px;
      right: 6px;
    }
    &-body {
      padding: 2rem 0.5rem;
    }
    &-infor {
      a {
        img {
          transform: scale(0.7) translateX(-32px);
        }
      }
      &-title {
        &[data-index="8"] {
          transform: scale(0.7) translateX(-9px);
        }
        &[data-index="3"] {
          transform: scale(0.7) translateX(-12px);
        }
        &[data-index="6"] {
          transform: scale(0.7) translateX(-14px);
        }
        &[data-index="7"] {
          margin: 0.75rem 0 0.75rem 0;
        }
      }
      &-desc {
        font-size: 3.8vw;
      }
    }
    &-carousel {
      .owl-stage {
        max-height: 600px;
      }
    }
    &-left {
      &-col {
        padding: 0 1rem 0 0.85rem;
      }
    }
    &-image {
      &-main {
        img {
          width: 99% !important;
          max-height: 354px;
          // margin: 0 auto;
          object-fit: cover;
        }
      }
    }
    &-carousel {
      .owl-nav {
        button {
          &.owl-next {
            right: -22px;
          }
          &.owl-prev {
            left: -8px;
          }
        }
      }
    }
  }
  .gallery-modal {
    .modal-dialog {
      width: 100%;
    }
    // &-content {
    //     padding: 1rem 1.3rem 1rem 0.5rem;
    // }
    &-close {
      height: 48px;
      width: 48px;
      top: 0;
      right: 6px;
    }
    &-carousel {
      .owl-stage {
        height: auto;
        max-height: 660px;
        // max-height: unset;
      }
      .owl-nav {
        button {
          top: 28%;
          &.owl-next {
            right: -40px;
          }
          &.owl-prev {
            left: -32px;
          }
          img {
            width: 48px;
            height: 48px;
          }
        }
      }
      @keyframes pulseBtn {
        0% {
          transform: scale3d(1, 1, 1);
        }
        50% {
          transform: scale3d(1.1, 1.1, 1.1);
        }
        100% {
          transform: scale3d(1, 1, 1);
        }
      }
    }
    &-right {
      &-col {
        padding: 0;
      }
    }
    &-infor {
      &-title {
        font-size: 1.5rem;
        line-height: 1.2;
        padding-top: 3rem;
        min-height: 110px;
        margin: 0 0 4px 0;
      }
      &-desc {
        font-size: 3.8vw !important;
        line-height: 1.3;
        height: auto;
        max-height: unset;
        padding: 8px 0;
        overflow: hidden;
      }
    }
    &-body {
      // padding: 40px 54px 15px 30px;
      padding: 14% 9.5% 0% 4.3% !important;
    }
    &-content {
      padding: 16px 0px 16px 16px;
    }
    &-image {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      &-main {
        width: 98.5%;
        max-height: unset;
        margin: 0 auto;
        img {
          max-width: 100%;
        }
      }
      &-col {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 3px;
        img {
          border: 3px solid #fff;
        }
      }
      &-list {
        margin: 0;
        padding-top: 0.5rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        img {
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .gallery-modal {
    &-infor {
      &-desc {
        font-size: 3.6vw;
      }
    }
    &-body {
      padding: 12% 7.5% 7% 3.3%;
    }
    &-carousel {
      .owl-nav {
        button {
          top: 33%;
          &.owl-next {
            right: -35px;
          }
          &.owl-prev {
            left: -30px;
          }
          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}
