@media only screen and (max-width: 1200px) {
    .section-hero {
        &::after {
            width: 842px;
            height: 259px;
        }
        &-content {
            &-text {
                .image-main {
                    max-width: 130%;
                    transform: translateX(-62px);
                }
                .icon-hero {
                    width: 16%;
                    &.first {
                        top: -26%;
                        left: 20%;
                    }
                    &.two {
                        top: -13%;
                        right: -6%;
                    }
                    &.three {
                        top: 13%;
                        left: -9%;
                    }
                    &.four {
                        bottom: 13%;
                        right: -21%;
                        width: 20%;
                        height: auto;
                    }
                    &.five {
                        bottom: -37%;
                        right: 33%;
                    }
                    &.six {
                        bottom: -26%;
                        left: 19%;
                    }
                }
            }
            &-characters {
                position: relative;
                &-wave {
                    right: -38%;
                    &.active {
                        animation: rightToLeft 2s ease-out;
                    }
                    @keyframes rightToLeft {
                        0% {
                            width: 0%;
                        }
        
                        100% {
                            width: 135%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .section-hero {
        height: 500px;
        max-height: 500px;

        &-logo {
            img {
                max-width: 30%;
            }
        }
    
        &::after {
            width: 650px;
            height: 215px;
        }
    
        &-content {
            &-text {
                .image-main {
                    max-width: 130%;
                    transform: translateX(-30px);
                }
                .icon-hero {
                    width: 16%;
                    &.first {
                        top: -19%;
                        left: 20%;
                    }
                    &.two {
                        top: -13%;
                        right: -6%;
                    }
                    &.three {
                        top: 15%;
                        left: -4%;
                    }
                    &.four {
                        bottom: 10%;
                        right: -29%;
                        width: 24%;
                        height: auto;
                    }
                    &.five {
                        bottom: -41%;
                        right: 32%;
                    }
                    &.six {
                        bottom: -13%;
                        left: 19%;
                    }
                }
            }
            &-characters {
                position: relative;
                &-wave {
                    right: -31.5%;
                }
                &-main {
                    .image-main {
                        max-width: 100%;
                    }
                }
                .name {
                    width: auto;
                    height: 8%;
                    &.nova {
                        top: 5%;
                        left: 15%;
                        height: 9%;
                    }
                    &.olly {
                        top: -1%;
                        left: 31%;
                        height: 10%;
                    }
                    &.aliya {
                        top: -3%;
                        left: 49%;
                    }
                    &.paisley {
                        top: -1%;
                        right: 14%;
                    }
                    &.autumn {
                        bottom: 40%;
                        right: 10%;
                    }
                    &.leo {
                        bottom: 34%;
                        right: 30%;
                    }
                    &.liann {
                        bottom: 33%;
                        left: 40%;
                    }
                    &.zac {
                        bottom: 27%;
                        left: 18%;
                        height: 9%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .section-hero {
        height: 400px;
        max-height: 400px;
    
        &::after {
            width: 550px;
            height: 175px;
        }
    
        &-content {
            &-text {
                .icon-hero {
                    &.four {
                        right: -23%;
                    }
                }
            }
            &-characters {
                &-wave {
                    right: -29.5%;
                    @keyframes rightToLeft {
                        0% {
                            width: 0%;
                        }
        
                        100% {
                            width: 125%;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .section-hero {
        height: auto;
        max-height: unset;
        background: url("./assets/images/hero-bg-mobile.png") no-repeat;
        background-size: 100% 100%;
        padding: 22px 0 50px 0;

        &-logo {
            justify-content: center;
            img {
                max-width: 46%;
            }
        }
    
        &::after {
            background: url("./assets/images/hero-branch-mobile3.png");
            background-size: 100% 100%;
            width: 44%;
            height: 28%;
            top: 26.5%;
            right: 0;
        }
    
        &-content {
            padding-top: 16px;
            &-text {
                text-align: center;
                padding-bottom: 40px;
                .image-main {
                    max-width: 78%;
                    transform: translateX(-7px);
                }
                .icon-hero {
                    width: 16%;
                    &.first {
                        top: -1%;
                        left: 21%;
                        width: 11%;
                    }
                    &.two {
                        top: -2%;
                        right: 24%;
                        width: 9%;
                    }
                    &.three {
                        top: 19%;
                        left: 5%;
                        width: 10%;
                    }
                    &.four {
                        bottom: 41%;
                        right: 4%;
                        width: 15%;
                    }
                    &.five {
                        bottom: 10%;
                        right: 45%;
                        width: 8%;
                    }
                    &.six {
                        bottom: 12%;
                        left: 15%;
                        width: 10%;
                    }
                }
            }
            &-characters {
                position: relative;
                &-wave {
                    right: -25.5%;
                    &.active {
                        animation: rightToLeft 2.5s ease-out;
                    }
                }
                &-main {
                    .image-main {
                        max-width: 93%;
                    }
                }
                .name {
                    width: auto;
                    height: 7%;
                    z-index: 4;
                    &.nova {
                        top: 2%;
                        left: 17%;
                        height: 9%;
                    }
                    &.olly {
                        top: -1%;
                        left: 31%;
                        height: 9%;
                    }
                    &.aliya {
                        top: -3%;
                        left: 49%;
                    }
                    &.paisley {
                        top: -1%;
                        right: 14%;
                    }
                    &.autumn {
                        bottom: 40%;
                        right: 10%;
                    }
                    &.leo {
                        bottom: 34%;
                        right: 30%;
                    }
                    &.liann {
                        bottom: 33%;
                        left: 40%;
                    }
                    &.zac {
                        bottom: 27%;
                        left: 18%;
                        height: 9%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .section-hero {
        &-content {
            &-characters {
                &-wave {
                    right: -25%;
                }
            }
        }
    }
}