@media only screen and (max-width: 1200px) {
    .section-tvc {
        padding: 50px 0 10px 0;
    
        &-title {
            width: 414px;
            .icon {
                position: absolute;
                &.active {
                    animation: zoomIconHead 3s ease-in-out infinite;
                }
                &.left {
                    top: -26%;
                    left: -14%;
                    width: 19%;
                }
                &.right {
                    top: -28%;
                    right: -12%;
                    width: 17%;
                }
            }
        }
    
        &::before {
            top: -50px;
        }
    
        &-video {
            position: relative;
            max-width: 575px;
            margin: 0 auto;
            &-border {
                background: url("./assets/images/tvc-frame.png") no-repeat;
                background-size: 100% 100%;
                padding: 30px 35px 35px 38px;
                line-height: 0;
    
                @-moz-document url-prefix() {
                    .firefox-play {
                        display: none;
                    }
                }
                @supports (-webkit-touch-callout: none) {
                    .firefox-play {
                        display: none;
                    }
                }
                &_replay {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
                video {
                    margin-bottom: -1px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-toggle {
            max-width: 490px;
            padding: 24px 0;
            &-container {
                border-radius: 8px;
                margin: 0 22px;
                // width: 215px;
            }
            &-item {
                img {
                    padding-bottom: 8px;
                }
                p {
                    font-size: 17px;
                    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-tvc {
        padding: 45px 0 10px 0;
    
        &-title {
            width: 74%;
            padding-bottom: 12px;
            .icon {
                &.left {
                    top: -38%;
                    left: -12%;
                    width: 24%;
                }
                &.right {
                    top: -28%;
                    right: -12%;
                    width: 19%;
                }
            }
        }
    
        &::before {
            top: -50px;
        }
    
        &-video {
            position: relative;
            max-width: 88%;
            margin: 0 auto;
            &-border {
                // padding: 22px 25px 25px 27px;
                padding: 5% 6% 6% 6.5%;
                .video-control.play, .video-control.replay {
                    width: 20%;
                }
            }
        }
        &-toggle {
            max-width: 90%;
            padding: 24px 0;
            &-container {
                margin: 0;
                &.left {
                    margin-right: 8px;
                }
                &.right {
                    margin-left: 8px;
                }
            }
            &-item {
                img {
                    padding-bottom: 8px;
                }
                p {
                    font-size: 3.1vw;
                    white-space: nowrap;
                    line-height: 1.4;
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .section-tvc {
        &-toggle {
            &-item {
                p {
                    font-size: 3vw;
                    white-space: nowrap;
                    line-height: 1.4;
                }
            }
        }
    }
}