@media only screen and (max-width: 1200px) {
    .section-meet {
        &-title {
            width: 544px;
            .title {
                max-width: 100%;
            }
            .icon {
                &.left {
                    top: -18%;
                    left: -6%;
                    width: 16%;
                }
                &.right {
                    top: -35%;
                    right: -3%;
                    width: 8%;
                }
            }
        }
    
        &-subtitle {
            p {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-meet {
        position: relative;
        z-index: 10;
        background: url("./assets/images/meet-bg.png") no-repeat;
        background-size: 105% 100%;
        height: 495px;
        margin-top: -20px;
        padding: 40px 0 25px 0;
    
        &-title {
            width: 86%;
            .icon {
                &.left {
                    top: -33%;
                    left: -7%;
                    width: 18%;
                    height: auto;
                }
                &.right {
                    top: -37%;
                    right: -5%;
                    width: 8%;
                    height: auto;
                }
            }
        }
    
        &-subtitle {
            padding: 16px 0;
            p {
                font-size: 3.5vw;
            }
        }
    
        &-list {
            width: 100%;
            overflow: hidden;
            float: left;
            &-container {
                width: 1860px;
                float: left;
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                &-item {
                    position: relative;
                    z-index: 9;
                    height: 320px;
                    &.liann, &.leo {
                        transform: translateX(-20px);
                    }
                    .doodles {
                        position: absolute;
                        z-index: 8;
                        top: 28%;
                        left: 0;
                        pointer-events: none;
                        width: 100%;
                        &.none {
                            visibility: hidden;
                            animation: none;
                        }
                        &.active {
                            animation: fadeIcon 1s ease-in-out;
                        }
                        &.paisley {
                            left: -27%;
                            width: 120%;
                        }
                        &.autumn {
                            left: 0%;
                        }
                        &.autumn, &.liann {
                            top: 19%;
                        }
                        &.liann {
                            left: 16%;
                        }
                        &.olly {
                            top: 6%;
                            left: 0%;
                        }
                        &.aliya {
                            top: 14%;
                            left: 9%;
                        }
                        &.leo {
                            top: 17%;
                            left: 6%;
                        }
                        &.zac {
                            top: 14%;
                            left: 3%;
                            width: 90%;
                        }
                        &.nova {
                            top: 26%;
                            left: 8%;
                        }
                    }
                    .name {
                        position: absolute;
                        top: 2%;
                        left: 10%;
                        // animation: nameInf 2s ease-in-out infinite;
                        animation: zoomName 5s ease-in-out infinite;
                        animation-delay: 2s;
                        &.paisley {
                            left: 20%;
                        }
                        &.liann {
                            left: 36%;
                        }
                        &.olly {
                            top: 3%;
                            left: 32%;
                        }
                        &.aliya {
                            left: 15%;
                        }
                        &.leo {
                            left: 30%;
                        }
                        &.zac {
                            top: 5%;
                            left: 14%;
                        }
                        &.nova {
                            top: 7%;
                            left: 30%;
                        }
                    }
                    @keyframes nameInf {
                        0% {
                            transform: translateY(0);
                        }
                        50% {
                            transform: translateY(10px)
                        }
                        100% {
                            transform: translateY(0);
                        }
                    }
                    
                    .image {
                        position: relative;
                        z-index: 7;
                        height: 280px !important;
                        width: auto !important;
                        object-fit: cover;
                        padding-top: 40px;
                        transition: 0.5s ease-in-out;
                        &:hover {
                            transform: scale(1.06);
                        }
                        &.paisley {
                            padding: 40px 50px 0 75px;
                        }
                        &.autumn {
                            padding: 40px 40px 0 20px;
                        }
                        &.liann{}
                        &.olly {
                            padding: 40px 40px 0 60px;
                        }
                        &.aliya {
                            padding: 40px 36px 0 50px;
                        }
                        &.leo {
                            padding: 40px 40px 0 40px;
                        }
                        &.zac {
                            padding: 45px 65px 0 80px;
                        }
                        &.nova {
                            padding: 55px 40px 0 32px;
                        }
                    }
                    @keyframes fadeIcon {
                        0% {
                            opacity: 0;
                            transform: scale(0);
                        }
                        100% {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
                &-wave {
                    position: absolute;
                    z-index: 2;
                    top: 49%;
                    left: -5%;
                    transform: translateY(-50%);
                    height: 156px;
                    visibility: hidden;
                    &.active {
                        visibility: visible;
                        object-fit: cover;
                        object-position: 0 100%;
                        animation: rightToLeft2 5s;
                    }
                }
                @keyframes rightToLeft2 {
                    0% {
                        width: 0;
                    }
                    100% {
                        width: 96%;
                    }
                }
                &-arrow {
                    position: absolute;
                    z-index: 99;
                    bottom: 7%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    transition: opacity 1s ease-in-out;
                    &.hide {
                        opacity: 0;
                    }
                    img {
                        animation-duration: 4s;
                        width: 42%;
                    }
                    p {
                        font-size: 3.2vw;
                    }
                }
            }
        }
    }
}