@media only screen and (max-width: 1200px) {
    .section-quiz {
        padding: 70px 0 15px 0;
        &-title {
            width: 508px;
            .icon {
                width: 15%;
                &.left {
                    left: 0;
                }
                &.right {
                    right: -5%;
                }
            }
        }
        &-subtitle {
            p {
                font-size: 16px;
            }
        }
        &-characters {
            position: relative;
            z-index: 9;
        }
        &-button {
            padding: 10px 0 32px 0;
            img {
                max-width: 180px;
            }
            &.active {
                animation: zoomIcon 2s ease infinite;
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .section-quiz {
        padding: 55px 0 15px 0;
        &-title {
            width: 87%;
            .icon {
                &.left {
                    left: 0%;
                    top: 0%;
                }
                &.mid {
                    left: 38%;
                    width: 25%;
                    top: -45%;
                }
                &.right {
                    top: 0%;
                    right: -5%;
                }
            }
        }
        &-subtitle {
            padding: 10px 0;
            p {
                display: none;
                font-size: 3.5vw;
                line-height: 1.2;
                &.mb {
                    display: block;
                }
            }
        }
        &-characters {
            position: relative;
            z-index: 9;
            img {
                max-width: 92%;
                margin: 0 auto;
            }
        }
        &-button {
            img {
                max-width: 32%;
            }
            &.active {
                animation: zoomIcon 2s ease infinite;
            }
        }
    }
}