@media only screen and (max-width: 767px) {
    .section-products {
        &-carousel {
            position: relative;
            max-width: 90%;
            margin: 0 auto;
    
            &-item {
                .card {
                    &-content {
                        height: 280px;
                        &-image {
                            height: 180px;
                        }
                        &-text {
                            padding: 4px 14px 0 14px;
                            h4 {
                                font-size: 16px;
                                line-height: 1.2;
                                min-height: 42px;
                            }
                        }
                    }
                    &-btn {
                        img {
                            max-width: 130px;
                            margin: 12px auto;
                        }
                    }
                }
            }
    
            .owl-nav {
                button {
                  img {
                    width: 60px;
                  }
          
                  &.owl-prev {
                    left: -90px;
                  }
          
                  &.owl-next {
                    animation-delay: 0.5s;
                    right: -90px;
                  }
                }
              }
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-products {
        &-carousel {
            position: relative;
            max-width: 92%;
            margin: 0 auto;
    
            &-item {
                .card {
                    &-content {
                        height: 47vw;
                        &-image {
                            height: 65%;
                        }
                        &-text {
                            h4 {
                                font-size: 3.2vw;
                                line-height: 1.2;
                                min-height: 42px;
                            }
                            p {
                                display: none;
                            }
                        }
                    }
                    &-btn {
                        img {
                            max-width: 126px;
                            margin: 12px auto 34px;
                        }
                    }
                }
            }
    
            .owl-nav {
                button {
                    top: 35.5% !important;
                  img {
                    width: 34px;
                  }
          
                  &.owl-prev {
                    left: -11%;
                  }
          
                  &.owl-next {
                    animation-delay: 0.5s;
                    right: -11%;
                  }
                }
              }
        }
    }
}

@media only screen and (max-width: 390px) {
    .section-products {
        &-carousel {
            .owl-nav {
                button {
                  img {
                    width: 30px;
                  }
          
                  &.owl-prev {
                    left: -12%;
                  }
          
                  &.owl-next {
                    right: -12%;
                  }
                }
              }
        }
    }
}