@media only screen and (max-width: 1200px) {
    .section-videos {
        &-title {
            width: 468px;
            .icon {
                width: 27%;
                &.left {
                    top: 14%;
                    left: -15%;
                    width: 22%;
                }
                &.right {
                    top: 10%;
                    right: -10%;
                    width: 21%;
                    height: auto;
                }
            }
        }
        &-content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content:center;
            background: url("./assets/images/video-content.png") no-repeat;
            background-size: 100% 100%;
            max-width: 64%;
            margin: 0 auto;
            height: 80px;
            margin-top: 20px;
            p {
                font-size: 14px;
            }
            .icon {
                &.left {
                    top: -32%;
                    left: -4%;
                    width: 12%;
                }
                &.right {
                    top: -28%;
                    right: -2%;
                    width: 9%;
                }
            }
        }
        &-video {
            position: relative;
            max-width: 575px;
            margin: 0 auto;
            &-border {
                background: url("./assets/images/tvc-frame.png") no-repeat;
                background-size: 100% 100%;
                padding: 30px 35px 35px 38px;
                line-height: 0;
    
                @-moz-document url-prefix() {
                    .firefox-play {
                        display: none;
                    }
                }
                @supports (-webkit-touch-callout: none) {
                    .firefox-play {
                        display: none;
                    }
                }
                &_replay {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
                video {
                    margin-bottom: -1px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-carousel {
            // display: none;
            position: relative;
            max-width: 82%;
            margin: 30px auto 0 auto;
            .owl-stage {
                height: 250px;
            }
            .owl-item {
                background-color: #d25d8b !important;
                box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
            }
            &-item {
                background-color: #d25d8b !important;
                .image {
                    position: relative;
                    height: 142px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        padding-top: 3px;
        
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: url("./assets/images/btn_play.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
                p {
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    min-height: 86px;
                    padding: 4px;
                    font-size: 16px;
                }
            }
            .owl-nav {
                margin: 0;
                padding: 0;
                button {
                  position: absolute;
                  top: 15%;
                  background: none !important;
                  outline: 0 !important;
                  z-index: 1;
                  transform: translateY(-50%);
                  -webkit-animation-duration: 1s;
                  animation-duration: 1s;
                  -webkit-animation-fill-mode: both;
                  animation-fill-mode: both;
                  -webkit-animation-name: pulseBtn;
                  animation-name: pulseBtn;
                  -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out;
                  animation-iteration-count: infinite;
                  -webkit-animation-iteration-count: infinite;
                  &.owl-prev,
                  &.owl-next {
                    margin: 0 !important;
                    padding: 1rem !important;
                    img {
                        width: 78px;
                    }
                  }
          
                  &.owl-prev {
                    left: -115px;
                  }
          
                  &.owl-next {
                    animation-delay: 0.5s;
                    right: -115px;
                  }
                }
              }
        }
        &-button {
            img {
                max-width: 170px;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .section-videos {
        &-content {
            max-width: 82%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .section-videos {
        &-content {
            max-width: 100%;
            p {
                font-size: 14px;
            }
            .icon {
                &.left {
                    top: -27%;
                    left: -8%;
                    width: 12%;
                }
                &.right {
                    top: 0%;
                    right: -5%;
                    width: 9%;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .section-videos {
        padding: 40px 0 60px 0;
        &::before {
            height: 50px;
        }
        &-title {
            width: 75%;
            .icon {
                &.left {
                    top: 13%;
                    left: -14%;
                    width: 22%;
                }
                &.right {
                    top: 4%;
                    right: -14%;
                    width: 27%;
                }
            }
        }
        &-button {
            margin-top: 0;
            img {
                max-width: 150px;
            }
        }
        &-video {
            max-width: 88%;
            &-border {
                // padding: 22px 25px 25px 27px;
                padding: 5% 6% 6% 6.5%;
                .video-control.play, .video-control.replay {
                    width: 20%;
                }
            }
        }
        &-carousel {
            max-width: 88%;
            .owl-stage {
                height: 195px;
            }
            &-item {
                background-color: #d25d8b !important;
                .image {
                    height: 55%;
                    &::after {
                        width: 45px;
                        height: 45px;
                    }
                }
                p {
                    color: #fff;
                    display: flex;
                    // justify-content: center;
                    flex-direction: column;
                    min-height: 70px;
                    padding: 0 8px;
                    font-size: 2.58vw;
                }
            }
            .owl-nav {
                button {
                  top: 22%;
                  &.owl-prev,
                  &.owl-next {
                    img {
                        width: 36px;
                    }
                  }
          
                  &.owl-prev {
                    left: -11%;
                  }
          
                  &.owl-next {
                    right: -11%;
                  }
                }
              }
        }
        &-content {
            max-width: 90%;
            height: 90px;
            margin-top: 35px;
            p {
                font-size: 3.2vw;
                line-height: 1.4;
                display: none;
                &.mb {
                    display: block;
                }
            }
            .icon {
                &.left {
                    top: -23%;
                    left: -3%;
                    width: 14%;
                }
                &.right {
                    top: -7%;
                    right: -4%;
                    width: 14%;
                }
            }
        }
    }
}