@use "../variables/typography" as *;
@use "../variables/color" as *;

@mixin make-base-styles {
  html,
  body {
    display: block;

    margin: 0;
    padding: 0;

    font-family: $default-font-family;
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-weight: $default-font-weight;
    color: $default-text-color;
  }

  button {
    background: none;
    border: none;
    outline: none;
  }
}

@mixin make-pulse-animation {
  @-webkit-keyframes pulseBtn {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    50% {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes pulseBtn {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    50% {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
}
