@use "../variables/gallery" as *;
@use "../mixins/font" as *;

@mixin make-gallery-modal-dialog {
  width: $modal-width;
  max-width: $modal-max-width;
}

@mixin make-gallery-modal-content {
  position: relative;

  border: $modal-content-border;
  padding: $modal-content-padding;

  background: $modal-content-background;
}

@mixin make-gallery-modal-close {
  position: absolute;
  right: $modal-close-right;
  top: $modal-close-top;

  margin: $modal-close-margin;
  padding: $modal-close-padding;
  width: $modal-close-width;
  height: $modal-close-height;

  z-index: $modal-close-zIndex;
}

@mixin make-gallery-modal-close-icon {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

@mixin make-gallery-modal-body {
  background: $modal-body-background;
  padding: $modal-body-padding;
  border-radius: $modal-body-radius;
}

@mixin make-gallery-modal-body-inner {
  height: $modal-body-inner-height;
}

@mixin make-gallery-modal-left-col {
  flex: 0 0 $modal-left-col-width;
  max-width: $modal-left-col-width;
  padding: $modal-left-col-padding;
}

@mixin make-gallery-modal-right-col {
  flex: 0 0 $modal-right-col-width;
  max-width: $modal-right-col-width;
  padding: $modal-right-col-padding;
}

@mixin make-gallery-modal-item-inner {
  display: flex;
  flex-flow: row wrap;
}

@mixin make-gallery-modal-image-main {
  margin: $modal-image-main-margin;
  max-height: 252px;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

@mixin make-gallery-modal-image-list {
  display: flex;
  flex-flow: row wrap;

  margin: $modal-image-list-margin;
}

@mixin make-gallery-modal-image-col {
  cursor: pointer;

  flex: 0 0 $modal-image-col-width;
  max-width: $modal-image-col-width;

  padding: $modal-image-col-padding;
}

@mixin make-gallery-modal-image-thumb {
  width: 100%;
  max-width: 100%;
  height: $modal-image-thumb-height;

  object-fit: cover;
  transition: all 0.3s ease;
  border: 4px solid #fff;
  opacity: 0.6;

  &.active {
    opacity: 1;
    // border: $modal-image-thumb-active-border;
  }
}

@mixin make-gallery-modal-infor-title {
  margin: $modal-infor-title-margin;

  font-family: $modal-infor-title-font-family;
  font-size: $modal-infor-title-font-size;
  line-height: $modal-infor-title-line-height;
  font-weight: $modal-infor-title-font-weight;
  color: #fff;
  padding-top: 30px;
}

@mixin make-gallery-modal-infor-desc {
  font-family: $modal-infor-desc-font-family;
  font-size: $modal-infor-desc-font-size;
  line-height: $modal-infor-desc-line-height;
  color: #291c45;
  // font-weight: 600;
}

@mixin make-gallery-modal-carousel {
  position: relative;
  .owl-stage {
    height: $modal-body-inner-height;
    overflow: hidden;
  }
  .owl-nav {
    button {
      position: $owl-nav-position;
      top: $owl-nav-top;
      background: $owl-nav-background;
      outline: $owl-nav-outline;

      z-index: $owl-nav-zIndex;

      &.owl-prev,
      &.owl-next {
        margin: $owl-nav-margin;
        padding: $owl-nav-padding;
      }

      &.owl-prev {
        left: $owl-nav-prev-left;
      }

      &.owl-next {
        right: $owl-nav-next-right;
      }
    }
    img {
      height: $owl-nav-image-height;
      object-fit: cover;
    }
  }

  .owl-nav button {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulseBtn;
    animation-name: pulseBtn;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    &.owl-next {
      animation-delay: 0.5s;
    }
  }
}
