@use "../variables/layout" as *;

@mixin make-layout {
  overflow-x: hidden;
  position: relative;
  @if ($layout-bg-image != false) {
    background: url($layout-bg-image) no-repeat;
    background-size: 100% 100%;
    background-position: top center;
  } @else {
    background: $layout-bg-color;
  }

  // @if ($layout-min-height) {
  //   min-height: $layout-min-height;
  // }
}

@mixin make-wrapper {
  display: block;

  margin-left: auto;
  margin-right: auto;
  box-shadow: $wrapper-box-shadow;
  @if ($wrapper-full-width == false) {
    max-width: $wrapper-max-width;
  }
  @if ($wrapper-min-height) {
    min-height: $wrapper-min-height;
  }
}
