@use "sass:math";
@use "../variables/video" as *;
@use "../functions/general" as *;

@mixin make-base-video-container($bg: false, $padding: false, $margin: false) {
  position: relative;

  display: flex;

  margin: get-default($margin, $container-margin);
  padding: get-default($padding, $container-padding);
  width: 100%;

  background: get-default($bg, $container-background);
}

@mixin make-base-video {
  width: 100%;

  &[data-pause="true"] ~ .video-control-play {
    display: inline-block;
  }

  &[data-mute="true"] ~ .video-control-soundoff {
    display: inline-block;
  }

  &[data-mute="false"] ~ .video-control-soundon {
    display: inline-block;
  }
}

@mixin make-base-video-control($margin: 0, $padding: 0) {
  display: none;
  position: $control-position;
  left: $control-left;
  top: $control-top;
  z-index: $control-zIndex;
  transform: $control-transform;

  margin: $margin;
  border: $control-border;
  border-radius: $control-radius;
  padding: $padding;
  width: $control-width;
  height: $control-height;

  background: $control-background;

  &.show {
    display: inline-block;
  }
}

@mixin make-video-control-sound($top: 32px, $right: 32px, $left: auto, $bottom: auto, $width: math.div($control-width, 2), $height: math.div($control-height, 2)) {
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;

  width: $width;
  height: $height;

  transform: none;
}

@mixin make-base-video-control-img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
