@use "../variables/video-slider" as *;

@mixin make-slider-carousel {
  position: relative;

  margin-top: $owl-carousel-margin-top;

  .owl-nav {
    button {
      position: $owl-nav-position;
      top: $owl-nav-top;
      background: $owl-nav-background;
      outline: $owl-nav-outline;

      z-index: $owl-nav-zIndex;

      &.owl-prev,
      &.owl-next {
        margin: $owl-nav-margin;
        padding: $owl-nav-padding;
      }

      &.owl-prev {
        left: $owl-nav-prev-left;
      }

      &.owl-next {
        right: $owl-nav-next-right;
      }
    }
    img {
      height: $owl-nav-image-height;
      object-fit: cover;
    }
  }

  .owl-nav button {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulseBtn;
    animation-name: pulseBtn;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    &.owl-next {
      animation-delay: 0.5s;
    }
  }
}

@mixin make-slider-item {
  cursor: pointer;
  pointer-events: all;

  opacity: $slider-item-default-opacity;

  &.active {
    opacity: 1;
  }

  * {
    pointer-events: none;
  }
}

@mixin make-slider-item-title {
  font-size: $slider-item-title-font-size;
  line-height: $slider-item-title-line-height;
  font-weight: $slider-item-title-font-weight;
}

@mixin make-slider-item-image {
  margin-bottom: $slider-item-image-margin-bottom;
  max-width: 100%;
  width: $slider-item-image-width;
  height: $slider-item-image-height;

  object-fit: cover;
}
