@use '../mixins/gallery' as *;

.modal-backdrop.show {
  opacity: 0.7;
}

// body.modal-open .owl-carousel:not(.gallery-modal-carousel) {
//   .owl-nav button {
//     animation: none;
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }
// }

.gallery-character {
  .modal-dialog {
    @include make-gallery-modal-dialog();
  }

  &-content {
    @include make-gallery-modal-content();
  }

  &-close {
    @include make-gallery-modal-close();
    top: -8px;
    right: 20px;

    img {
      @include make-gallery-modal-close-icon();
    }
  }

  &-body {
    background: url("./assets/images/bg_popup_character.png") no-repeat;
    background-size: 100% 100%;
    padding: 40px;

    &-inner {
      height: 400px;

      .owl-carousel {
        height: 100% !important;
      }
    }
  }

  &-item {
    &-inner {
      @include make-gallery-modal-item-inner();
    }
  }

  &-left {
    &-col {
      flex: 0 0 48%;
      max-width: 48%;
      padding: 0 0.75rem 0 1rem;
      // @include make-gallery-modal-left-col();
    }
  }

  &-right {
    &-col {
      flex: 0 0 52%;
      max-width: 52%;
      padding: 0 1rem 0 1.75rem;
      // @include make-gallery-modal-right-col();
    }
  }

  &-image {
    &-main {

      // @include make-gallery-modal-image-main();
      img {
        width: auto !important;
        height: 100%;
        object-fit: cover;
        max-height: 400px
      }
    }

    &-list {
      @include make-gallery-modal-image-list();
    }

    &-col {
      @include make-gallery-modal-image-col();
    }

    &-thumb {
      @include make-gallery-modal-image-thumb();
    }
  }


  &-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    a {
      display: none;
    }
    img {
      width: auto !important;
      height: auto;
    }

    &-title {
      margin: 3rem 0 1rem 0;
      // @include make-gallery-modal-infor-title();
    }

    &-desc {
      @include make-gallery-modal-infor-desc();
      color: #39285f;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.3
    }
  }

  &-carousel {
    @include make-gallery-modal-carousel();

    .owl-stage {
      height: 400px;
    }

    .owl-nav {
      margin: 0;
      padding: 0;

      button {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: pulseBtn;
        animation-name: pulseBtn;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        &.owl-prev {
          left: -75px;
        }

        &.owl-next {
          animation-delay: 0.5s;
          right: -80px;
        }
      }
    }
  }
}

.gallery-modal {
  .modal-dialog {
    @include make-gallery-modal-dialog();
  }

  &-content {
    @include make-gallery-modal-content();
  }

  &-close {
    @include make-gallery-modal-close();
    top: 6px;
    right: 20px;

    img {
      @include make-gallery-modal-close-icon();
    }
  }

  &-body {
    @include make-gallery-modal-body();
    background: url("./assets/images/bg_popup_product.png") no-repeat;
    background-size: 100% 100%;
    padding: 90px 40px 60px 54px;

    &-inner {
      @include make-gallery-modal-body-inner();
      height: 340px;

      .owl-carousel {
        height: 340px !important;
      }
    }
  }

  &-item {
    &-inner {
      @include make-gallery-modal-item-inner();
    }
  }

  &-left {
    &-col {
      @include make-gallery-modal-left-col();
    }
  }

  &-right {
    &-col {
      @include make-gallery-modal-right-col();
    }
  }

  &-image {
    &-main {
      @include make-gallery-modal-image-main();
    }

    &-list {
      @include make-gallery-modal-image-list();
    }

    &-col {
      @include make-gallery-modal-image-col();
    }

    &-thumb {
      @include make-gallery-modal-image-thumb();
    }
  }


  &-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99%;
    &-title {
      @include make-gallery-modal-infor-title();
      min-height: 93px;
      padding-top: 42px;
    }

    &-desc {
      @include make-gallery-modal-infor-desc();
      font-weight: normal;
      color: #291c45;
      letter-spacing: 0;
      white-space: nowrap;
      font-weight: unset;
      height: 209px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-right: -12px;
      padding-top: 8px;
      &::-webkit-scrollbar {
        width: 5px;
        background: #3e81af;
        border-radius: 16px;
      }

      &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 16px;
          border-radius: 16px;
          background: #aee9ff;
      }
    }
  }

  &-carousel {
    @include make-gallery-modal-carousel();
  }
}


.modal-gallery {
  .modal-dialog {
    width: 970px;
    max-width: 970px;
  }

  &-content {
    position: relative;
    background: none;
    border: none;
    padding: 1.25rem 1.5rem;
  }

  &-close {
    background: none;
    border: none;
    outline: 0;
  }

  &-close {
    position: absolute;
    right: -18px;
    top: -25px;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
    }
  }

  &-body {
    background: #fff;
    padding: 2rem 1rem;
    border-radius: 5px;

    &-inner {
      height: 467px;
    }
  }

  &-images {
    flex: 0 0 67%;
    max-width: 67%;
    padding-left: 1rem;
    padding-right: 0.75rem;

    &-main {
      margin-bottom: 1.5rem;

      img {
        display: block !important;
        width: 100%;
        max-width: 100%;
      }
    }

    &-list {
      display: flex;
      flex-flow: row wrap;
      margin-left: -5px;
      margin-right: -5px;
    }

    &-col {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      img {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        height: 78px;
        object-fit: cover;
        transition: all .3s ease;

        &.active {
          border: 2px solid #fff;
        }
      }
    }
  }

  &-infor {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 0.75rem;
    padding-right: 1rem;

    &-title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.125;
      margin-bottom: 1rem;
    }

    &-desc {
      font-size: 1.125rem;
      line-height: 1.1;
    }
  }

  &-carousel {
    height: 100%;

    .owl-stage-outer,
    .owl-item,
    .owl-stage {
      height: 100%;
    }

    .owl-item {
      width: 100%;
    }

    .item {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &-item-inner {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
    }

    .owl-nav {
      margin: 0;
      padding: 0;

      button {
        position: absolute;
        top: 38%;
        background: none !important;
        outline: 0 !important;
        z-index: 1;
        transform: translateY(-50%);

        &.owl-prev,
        &.owl-next {
          margin: 0 !important;
          padding: 1rem !important;
        }

        &.owl-prev {
          left: -130px;
        }

        &.owl-next {
          right: -130px;
        }
      }

      img {
        width: 2.5rem;
        object-fit: cover;
      }
    }
  }
}

.gallery {
  &-link {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

  &-carousel-item {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 992px) {

  .modal-gallery {
    .modal-dialog {
      width: 80vw;
      max-width: 80vw;
    }

    &-content {
      padding: 2vw 2.5vw;
    }

    &-body {
      padding: 2vw;

      &-inner {
        height: 40vw;
      }
    }

    &-images {
      &-main {
        margin-bottom: 1.5vw;
      }

      &-col img {
        height: 6vw;
      }
    }

    &-infor {
      &-title {
        font-size: 3.5vw;
      }

      &-desc {
        font-size: 2vw;
      }
    }



  }
}

@media screen and (max-width: 575px) {}