@use "../mixins/layout" as *;

body.loading {
  overflow: hidden;
}

[data-showInView="false"],
[data-showWaveInView="false"] {
  visibility: hidden;
  animation: none;
}

[data-showInView="true"],
[data-showWaveInView="true"] {
  visibility: visible;
}

[data-showInView="true"][data-disabledAnimation="true"],
[data-showWaveInView="true"][data-disabledAnimation="true"] {
  animation: none;
}

.layout {
  @include make-layout();
}

.wrapper {
  @include make-wrapper();
}
