body.popup {
  overflow: hidden;
}
body.popup::before {
  opacity: 1;
  visibility: visible;
}
body.popup #popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
body:not(.popup) #popup .animate__animated {
  animation: none !important;
  -webkit-animation: none !important;
}
#popup {
  position: fixed;
  // z-index: 1;
  width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
#popup .animate__animated {
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.22);
}
#popup .popup-close {
  position: absolute;
  top: -2.5rem;
  right: -1.5rem;
  z-index: 9999;
  text-align: right;
  width: 10%;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  img {
    max-width: 100%;
    height: auto;
  }
}

#popup .popup-close {
  top: -6vw;
  right: -2.5vw;
  width: 12vw;

  @media screen and (min-width: 768px) {
    top: -2.5rem;
    right: -1.5rem;
    width: auto;
    max-width: 10%;
  }
}

#popup .popup-item > div > img {
  width: 100%;
}
#popup .popup-item:not(.show) {
  height: 0;
  opacity: 0;
  visibility: hidden;
  /* display:  none !important; */
}
#popup .popup-game__container {
  position: relative;
  padding: 8px;
  background-color: var(--purle);
  box-shadow: 0 8px 27px rgba(0, 0, 0, 0.25);
}
#popup .popup-game__container:before {
  content: "";
  display: block;
  position: absolute;
  background: #97C34D center no-repeat;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  pointer-events: none;
  background-size: 100% 100%;
}
#popup .popup-game__wrapper {
  width: 90vw !important;
  height: calc(95vw * (3 / 2)) !important;
  position: relative;
  z-index: 999;
  @media screen and (min-width: 768px) {
    height: 85vh !important;
    width: calc(85vh * (2 / 3)) !important;
  }
}
#popup .popup-game__container iframe {
  height: 100%;
  width: 100%;
  border: none;
}
