@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin between-width($minWidth, $maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}
