@use '../mixins/playlist' as *;

.playlist {
  &-carousel {
    @include make-playlist-carousel();
  }

  &-item {
    @include make-playlist-item();
  }

  &-item {
    &-title {
      @include make-playlist-item-title();
    }

    &-image {
      @include make-playlist-item-image();
    } 
  }
}
