@use '../mixins/video-slider' as *;

.video-slider {
  &-carousel {
    @include make-slider-carousel();
  }

  &-item {
    display: block;
    @include make-slider-item();
  }

  &-item {
    &-title {
      @include make-slider-item-title();
    }

    &-image {
      @include make-slider-item-image();
    } 
  }
}
