@use '../mixins/video' as *;

.video {
  &-container {
    @include make-base-video-container();

    video {
      @include make-base-video();
    }
  }

  &-control {
    @include make-base-video-control();

    img {
      @include make-base-video-control-img();
    }

    &.soundoff, &.soundon {
      @include make-video-control-sound();
    }
  }
}

video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls-start-playback-button {
  -webkit-appearance: none;
  display: none;
}
