
.video-carousel-slider {
  &-container {
    display: flex;
    width: 100%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &-video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.1;
    margin-bottom: 2rem;
  }

  &-item {
    cursor: pointer;
    &:not(.active) {
      opacity: 0.7;
    }
    * {
      pointer-events: none;
    }
    .thumb {
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .title {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 1;
    }
  }

  &-carousel {
    position: relative;

    .owl-nav {
      button {
        position: absolute;
        top: 16px;
        background: none !important;
        outline: 0 !important;
        z-index: 1;

        &.owl-prev,
        &.owl-next {
          margin: 0 !important;
          padding: 1rem !important;
        }

        &.owl-prev {
          left: -100px;
        }

        &.owl-next {
          right: -100px;
        }
      }
      img {
        width: 3.125rem;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .video-carousel-slider {
    &-carousel {
      .owl-nav {
        button {
          img {
            width: 2.5rem;
          }
          &.owl-prev {
            left: -13%;
          }
          &.owl-next {
            right: -13%;
          }
        }
      }
    }
  }
  
}
@media screen and (max-width: 575px) {
  .video-carousel-slider {
    &-container {
      padding: 2.5vw;
      margin-bottom: 4vw;
    }
    &-item {
      .thumb {
        margin-bottom: 3vw;
      }
      .title {
        font-size: 6vw;
      }
    }
  }
}
