<section class="section-quiz">
  <div class="container">
    <div class="row px-0 section-quiz-container" data-showScrollDownInView="false">
      <div class="col-12 px-0">
        <div class="section-quiz-title">
          <img src="../assets/images/quiz-title.png" class="title animate__animated animate__fadeInUp" data-showInView="false" alt="" />
          <img src="../assets/images/quizz-title-ic-1.png" class="icon head-title-icon left animate__animated animate__zoomIn" data-showInView="false" alt="" />
          <img src="../assets/images/quizz-title-ic-2.png" class="icon head-title-icon mid animate__animated animate__zoomIn" data-showInView="false" alt="" />
          <img src="../assets/images/quizz-title-ic-3.png" class="icon head-title-icon right animate__animated animate__zoomIn" data-showInView="false" alt="" />
        </div>
      </div>
      <div class="col-12 px-0 section-quiz-subtitle animate__animated animate__fadeInUp" data-showInView="false">
        <p>Làm trắc nghiệm để xem bạn sẽ là ai<br />trong 8 tính cách của những người bạn LEGO<sup>®</sup> Friends!</p>
        <p class="mb">Làm trắc nghiệm để xem bạn sẽ là ai trong<br />8 tính cách của những người bạn LEGO<sup>®</sup> Friends!</p>
      </div>
      <div class="col-12 px-0 section-quiz-characters animate__animated animate__fadeInUp" data-showInView="false">
        <img src="../assets/images/quiz-characters.png" alt="" />
      </div>
      <div class="col-12 px-0 section-quiz-button game__card animate__animated animate__fadeInUp" data-showInView="false">
        <img src="../assets/images/quiz-btn.png" alt="" />
      </div>
    </div>
  </div>
</section>
