<section class="section-videos">
    <div class="container">
        <div class="row px-0">
            <div class="col-12 px-0 text-center">
                <div class="section-videos-title">
                    <img class="title animate__animated animate__fadeInUp" data-showInView="false"
                        src="../assets/images/video-title.png" alt="">
                    <img class="icon head-title-icon left animate__animated animate__zoomIn" data-showInView="false"
                        src="../assets/images/video-title-ic-1.png" alt="">
                    <img class="icon head-title-icon right animate__animated animate__zoomIn" data-showInView="false"
                        src="../assets/images/video-title-ic-2.png" alt="">
                </div>
            </div>
            <div class="col-12 px-0 section-videos-video animate__animated animate__fadeInUp" data-showInView="false">
                <div class="section-videos-video-border">
                    <video src="../assets/videos/GetReady.mp4" id="adventure-video" data-tv="false" data-name="TV Series Video"
                        poster="../assets/images/video_getready_thumbnail.jpg"></video>
                </div>
            </div>
            <div class="col-12 px-0 section-videos-content text-center animate__animated animate__fadeInUp"
                data-showInView="false">
                <img src="../assets/images/video-content-ic-1.png" alt=""
                    class="icon head-title-icon left animate__animated animate__zoomIn" data-showInView="false">
                <p>Aliya, Autumn, Leo, Zac, Nova, Paisley, Olly và Liann trải qua năm<br>đầu tiên ở trường trung
                    học và trở thành bạn bè.</p>
                <p class="mb">Aliya, Autumn, Leo, Zac, Nova, Paisley, Olly<br>và Liann trải qua năm đầu tiên ở trường<br>trung học và trở thành bạn bè.</p>
                <img src="../assets/images/video-content-ic-2.png" alt=""
                    class="icon head-title-icon right animate__animated animate__zoomIn" data-showInView="false">
            </div>
            <div class="col-12 px-0 section-videos-carousel animate__animated animate__fadeInUp"
                data-showInView="false">
                <div class="owl-carousel owl-theme owl-videos" id="videos-carousel" data-name="TV Series Episode">
                    <!-- <a href="javascript:void(0)" class="section-videos-carousel-item">
                        <div class="image">
                            <img src="../assets/images/video-ep-101.png" alt="">
                        </div>
                        <p>Friends: Chương kế tiếp S1<br>(Tập 101) – Chào mừng Zac</p>
                    </a>
                    <a href="javascript:void(0)" class="section-videos-carousel-item">
                        <div class="image">
                            <img src="../assets/images/video-ep-102.png" alt="">
                        </div>
                        <p>Friends: Chương kế tiếp S1 (Tập 102) – Phòng vẽ nghệ thuật</p>
                    </a>
                    <a href="javascript:void(0)" class="section-videos-carousel-item">
                        <div class="image">
                            <img src="../assets/images/video-ep-103.png" alt="">
                        </div>
                        <p>Friends: Chương kế tiếp S1<br>(Tập 103) – Buổi tối thứ 6 đáng sợ </p>
                    </a>
                    <a href="javascript:void(0)" class="section-videos-carousel-item">
                        <div class="image">
                            <img src="../assets/images/video-ep-104.png" alt="">
                        </div>
                        <p> Friends: Chương kế tiếp S1 (Tập 104) – Tap Tap Pup Pup</p>
                    </a> -->
                    <a  href="https://youtu.be/dNxg_AShgp0" target="_blank"class="section-videos-carousel-item" data-name="TV Series Episode 1">
                        <div class="image">
                            <img src="../assets/images/LEGOFriends_VideoCarousel_1.png" alt="">
                        </div>
                        <p class="ccpb">LEGO Friends The Next Chapter S1 Special | NEW BEGINNINGS</p>
                    </a>
                    <a  href="https://youtu.be/dmFERAHepkM" target="_blank"class="section-videos-carousel-item" data-name="TV Series Episode 2">
                        <div class="image">
                            <img src="../assets/images/LEGOFriends_VideoCarousel_2.png" alt="">
                        </div> 
                        <p class="ccpb">LEGO Friends New Beginnings Sneak Peek: Opening Scene</p>
                    </a>
                    <a  href="https://youtu.be/TxXjoACcYZE" target="_blank"class="section-videos-carousel-item" data-name="TV Series Episode 3">
                        <div class="image">
                            <img src="../assets/images/LEGOFriends_VideoCarousel_3.png" alt="">
                        </div>
                        <p class="ccpb">LEGO Friends The Next Chapter | NEW BEGINNINGS – Trailer</p>
                    </a>
                    <a  href="https://youtu.be/D6IR3dQfgeA" target="_blank" class="section-videos-carousel-item" data-name="TV Series Episode 4">
                        <div class="image">
                            <img src="../assets/images/LEGOFriends_VideoCarousel_4.png" alt="">
                        </div>
                        <p class="ccpb">Kitchen Fail | NEW BEGINNINGS Special Scene | LEGO Friends The Next Chapter</p>
                    </a>
                </div>
            </div>
            <div class="col-12 px-0 section-videos-button text-center animate__animated animate__fadeInUp"
                data-showInView="false">
                <a href="https://www.youtube.com/playlist?list=PLRNbTEZ7dhL2dOuYL17jYrhP5fdEoZDqn" target="_blank" >
                    <img src="../assets/images/btn_watch.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>