<section class="section-products">
  <div class="container">
    <div class="row px-0">
      <div class="col-12 section-products-carousel">
        <div class="owl-carousel owl-theme owl-products" id="products-carousel">
          <!----------- Item ----------->
          <div class="section-products-carousel-item">
            <!-- Card 41731 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41731" data-index="0">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41731/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Trường học quốc tế thành phố Heartlake 41731</h4>
                  <p>Chào mừng đến với Trường Học Quốc tế thành phố Heartlake.</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
            <!-- Card 41739 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41739" data-index="1">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41739/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Phòng ngủ của Liann 41739 </h4>
                  <p>Bạn sẽ biết cô bạn Liann yêu thích<br>nghệ thuật khi ghé thăm căn phòng...</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
          </div>
          <!----------- Item ----------->
          <div class="section-products-carousel-item">
            <!-- Card 41743 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41743" data-index="2">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41743/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Tiệm làm tóc thành phố Heartlake 41743</h4>
                  <p>Giúp Paisley tạo kiểu tóc mới để làm cho cô ấy trở nên thật lộng lẫy.</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
            <!-- Card 41728 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41728" data-index="3">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41728/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Nhà hàng trung tâm thành phố Heartlake 41728 </h4>
                  <p>Đến ngay Nhà hàng trung tâm thành phố Heartlake để gặp gỡ cô bạn...</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
          </div>
          <!----------- Item ----------->
          <div class="section-products-carousel-item">
            <!-- Card 41730 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41730" data-index="4">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41730/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Ngôi nhà của Autumn 41730</h4>
                  <p>Cùng hai người bạn Leo và Aliya tham gia hoạt động ngoài trời đầy thú vị.</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
            <!-- Card 41733 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41733" data-index="5">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41733/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Cửa hàng trà sữa di động 41733 </h4>
                  <p>Sẵn sàng trải nghiệm món uống mới nhất với Nova và Matilde?</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
          </div>
          <!----------- Item ----------->
          <div class="section-products-carousel-item">
            <!-- Card 41732 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41732" data-index="6">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41732/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Tiệm hoa và cửa hàng thiết kế nội thất 41732 </h4>
                  <p>Thỏa sức sáng tạo và thiết kế căn hộ LEGO<sup>®</sup> Friends theo cách riêng...</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
            <!-- Card 41727 -->
            <div class="card product-gallery-toggle animate__animated animate__fadeInUp" data-showInView="false"
              data-gallery_id="41727" data-index="7">
              <div class="card-content">
                <img class="card-content-image" src="../assets/images/41727/1.jpg" alt="">
                <div class="card-content-text">
                  <h4>Trung tâm cứu hộ cún cưng 41727</h4>
                  <p>Giúp đỡ Autumn & Zac chăm sóc những bé cún tại trung tâm cứu hộ nhé.</p>
                </div>
              </div>
              <div class="card-btn">
                <img src="../assets/images/btn_more.png" alt="">
              </div>
            </div>
          </div>
          <!-- ----------------------------------------------------------------------- -->
        </div>
      </div>
    </div>
  </div>
</section>

