<section class="section-hero">
  <div class="container">
    <div class="row px-0 section-hero-logo">
      <img src="../assets/images/hero-logo.png" alt="">
    </div>
    <div class="row px-0 section-hero-content">
      <div class="col-xs-12 col-sm-5 section-hero-content-text">
        <img class="image-main none animate__animated animate__fadeIn" data-showInView="false" src="../assets/images/hero-text.png" alt="">
        <img class="icon-hero none first animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-1.png" alt="">
        <img class="icon-hero none two animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-2.png" alt="">
        <img class="icon-hero none three animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-3.png" alt="">
        <img class="icon-hero none four animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-4.png" alt="">
        <img class="icon-hero none five animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-5.png" alt="">
        <img class="icon-hero none six animate__animated animate__zoomIn" data-showInView="false" src="../assets/images/hero-text-ic-6.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-7 section-hero-content-characters">
        <div class="section-hero-content-characters-main">
          <img class="image-main" src="../assets/images/hero-character.png" alt="">
        </div>
        <img class="name nova none animate__animated animate__zoomIn" src="../assets/images/name-nova.png" alt="">
        <img class="name olly none animate__animated animate__zoomIn" src="../assets/images/name-olly.png" alt="">
        <img class="name aliya none animate__animated animate__zoomIn" src="../assets/images/name-aliya.png" alt="">
        <img class="name paisley none animate__animated animate__zoomIn" src="../assets/images/name-paisley.png" alt="">
        <img class="name autumn none animate__animated animate__zoomIn" src="../assets/images/name-autumn.png" alt="">
        <img class="name leo none animate__animated animate__zoomIn" src="../assets/images/name-leo.png" alt="">
        <img class="name liann none animate__animated animate__zoomIn" src="../assets/images/name-liann.png" alt="">
        <img class="name zac none animate__animated animate__zoomIn" src="../assets/images/name-zac.png" alt="">
        <img class="section-hero-content-characters-wave" src="../assets/images/hero-wave-2.png" alt="">
      </div>
    </div>
  </div>
</section>