<section class="section-tvc">
    <div class="container">
        <div class="row px-0">
            <div class="col-12 px-0 section-tvc-title text-center">
                <div class="section-tvc-title">
                    <img class="title animate__animated animate__fadeInUp" data-showInView="false" alt=""
                        src="../assets/images/tvc-title.png" />
                    <img class="icon head-title-icon left animate__animated animate__zoomIn" data-showInView="false"
                        alt="" src="../assets/images/tvc-title-ic-1.png" />
                    <img class="icon head-title-icon right animate__animated animate__zoomIn" data-showInView="false"
                        alt="" src="../assets/images/tvc-title-ic-2.png" />
                </div>
            </div>
            <div class="col-12 px-0 section-tvc-video animate__animated animate__fadeInUp" data-showInView="false">
                <div class="section-tvc-video-border">
                    <video id="tvc-video" class="tvc-video" data-name="TAS 30 Sec Video (Nova & Zac)"
                        src="../assets/videos/ADayOfLive1.mp4" poster="../assets/images/video-1-poster-vn.png"
                        controls></video>
                </div>
            </div>
            <div class="col-12 col-sm-10 mx-auto text-center">
                <div class="owl-carousel owl-carousel-main owl-carousel-tvc section-tvc-toggle text-center owl-theme mx-auto animate__animated animate__fadeInUp"
                    id="tvc-video-carousel" data-showInView="false">
                    <div class="section-tvc-toggle-container left active">
                        <a href="javascript: void(0)"
                            class="section-tvc-toggle-item video-slider-item text-center active" data-index="0"
                            data-name="TAS 30 Sec Video (Nova & Zac)" data-poster="images/tvc-video-poster.jpg"
                            data-src="videos/ADayOfLive1.mp4">
                            <img class="section-tvc-toggle-image" alt="" src="../assets/images/tvc-slide-vn-1.png" />
                            <p>Khám phá cuộc sống<br>của những người bạn<br>LEGO Friends:<br>Nova & Zac</p>
                        </a>
                    </div>
                    <div class="section-tvc-toggle-container right">
                        <a href="javascript: void(0)" class="section-tvc-toggle-item video-slider-item text-center"
                            data-index="1" data-name="TAS 30 Sec Video (Aliya & Autumn)" data-poster="images/tvc-video-poster.jpg"
                            data-src="videos/ADayOfLive2.mp4">
                            <img class="section-tvc-toggle-image" alt="" src="../assets/images/tvc-slide-vn-2.png" />
                            <p>Khám phá cuộc sống<br>của những người bạn<br>LEGO Friends:<br>Aliya & Autumn</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>