<section class="section-meet">
    <div class="container">
        <div class="row px-0">
            <div class="col-12 px-0 text-center">
                <div class="section-meet-title">
                    <img class="title animate__animated animate__fadeInUp" data-showInView="false" alt=""
                        src="../assets/images/meet-title.png" />
                    <img src="../assets/images/meet-titile-icon-left.png" data-showInView="false" alt=""
                        class="icon head-title-icon left animate__animated animate__zoomIn">
                    <img src="../assets/images/meet-titile-icon-right.png" alt="" data-showInView="false"
                        class="icon head-title-icon right animate__animated animate__zoomIn">
                </div>
            </div>
            <div class="col-12 px-0 text-center section-meet-subtitle animate__animated animate__fadeInUp"
                data-showInView="false">
                <p>Bấm vào tên nhân vật để khám phá</p>
            </div>
        </div>
    </div>
    <!-- Scroll Way -->
    <div class="section-meet-list">
        <div class="section-meet-list-container">
            <div class="section-meet-list-container-item paisley">
                <img src="../assets/images/meet-name-paisley.png" alt="" class="name paisley">
                <img class="image paisley character-gallery-toggle" data-character_id="1" data-name="Paisley" data-clickable="true"
                    data-index="0" src="../assets/images/meet-paisley-cha.png" alt="">
                <img class="doodles none paisley" src="../assets/images/meet-paisley-ic.png" alt="">
            </div>
            <div class="section-meet-list-container-item none autumn">
                <img src="../assets/images/meet-name-autumn.png" alt="" class="name autumn">
                <img class="image autumn character-gallery-toggle" data-character_id="2" data-name="Autumn" data-clickable="true"
                    data-index="1" src="../assets/images/meet-autumn-cha.png" alt="">
                <img src="../assets/images/meet-autumn-ic.png" alt="" class="doodles none autumn">
            </div>
            <div class="section-meet-list-container-item none liann">
                <img src="../assets/images/meet-name-liann.png" alt="" class="name liann">
                <img class="image liann character-gallery-toggle" data-character_id="3" data-name="Liann" data-clickable="true"
                    data-index="2" src="../assets/images/meet-liann-cha.png" alt="">
                <img src="../assets/images/meet-liann-ic.png" alt="" class="doodles none liann">
            </div>
            <div class="section-meet-list-container-item none olly">
                <img src="../assets/images/meet-name-olly.png" alt="" class="name olly">
                <img class="image olly character-gallery-toggle" data-character_id="4" data-name="Olly" data-clickable="true"
                    data-index="3" src="../assets/images/meet-olly-cha.png" alt="">
                <img src="../assets/images/meet-olly-ic.png" alt="" class="doodles none olly">
            </div>
            <div class="section-meet-list-container-item none aliya">
                <img src="../assets/images/meet-name-aliya.png" alt="" class="name aliya">
                <img class="image aliya character-gallery-toggle" data-character_id="5" data-name="Aliya" data-clickable="true"
                    data-index="4" src="../assets/images/meet-aliya-cha.png" alt="">
                <img src="../assets/images/meet-aliya-ic.png" alt="" class="doodles none aliya">
            </div>
            <div class="section-meet-list-container-item none leo">
                <img src="../assets/images/meet-name-leo.png" alt="" class="name leo">
                <img class="image leo character-gallery-toggle" data-character_id="6" data-name="Leo" data-clickable="true"
                    data-index="5" src="../assets/images/meet-leo-cha.png" alt="">
                <img src="../assets/images/meet-leo-ic.png" alt="" class="doodles none leo">
            </div>
            <div class="section-meet-list-container-item none zac">
                <img src="../assets/images/meet-name-zac.png" alt="" class="name zac">
                <img class="image zac character-gallery-toggle" data-character_id="7" data-name="Zac" data-clickable="true"
                    data-index="6" src="../assets/images/meet-zac-cha.png" alt="">
                <img src="../assets/images/meet-zac-ic.png" alt="" class="doodles none zac">
            </div>
            <div class="section-meet-list-container-item none nova">
                <img src="../assets/images/meet-name-nova.png" alt="" class="name nova">
                <img class="image nova character-gallery-toggle" data-character_id="8" data-name="Nova" data-clickable="true"
                    data-index="7" src="../assets/images/meet-nova-cha.png" alt="">
                <img src="../assets/images/meet-nova-ic.png" alt="" class="doodles none nova">
            </div>
            <img class="section-meet-list-container-wave" data-showWaveInView="false"
                src="../assets/images/big-wave.png" alt="">
        </div>
        <div class="section-meet-list-container-arrow">
            <img class="animate__animated animate__shakeX animate__infinite	infinite"
                src="../assets/images/meet-hand.png" alt="">
            <p>Lướt sang Trái/Phải</p>
        </div>
    </div>
</section>
