<section class="section-banner">
  <div class="section-banner-carousel">
    <div class="owl-carousel owl-theme owl-banner" id="banner-carousel">
      <div class="item section-banner-background pricess">
        <h1>Pricecss</h1>
      </div>
      <div class="item section-banner-background frozen">
        <h1>Frozen</h1>
      </div>
    </div>
  </div>
</section>
