/**
 * Add your specific project in scss/main
 * Don't edit in scss/core
 */
@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~animate.css/animate.css";
@import "scss/core";
@import "./scss/main/index.scss";
@import "./scss/responsive/index.scss";

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
