<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.GA_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= htmlWebpackPlugin.options.GA_ID %>");
    </script>
  </head>
  <body class="loading">
    <%= require('./partials/loader.html') %>
    <div class="layout">
      <div class="wrapper"><%= require("./partials/section-banner.html") %><%= require("./partials/section-products.html") %><%= require('./partials/footer.html') %></div>
    </div>

    <div class="modal fade gallery-character" id="character-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="gallery_popup_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content gallery-character-content">
          <div class="gallery-character-body">
            <button class="gallery-character-close" type="button" title="Close">
              <img src="../assets/images/btn_close.png" alt="Modal Gallery Close" />
            </button>
            <div class="gallery-character-body-inner">
              <div class="owl-theme owl-carousel gallery-character-carousel" data-name="PopupCharacter">
                <div class="item gallery-character-item">
                  <div class="gallery-character-item-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade gallery-modal" id="product-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="gallery_popup_title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content gallery-modal-content">
          <div class="gallery-modal-body">
            <button class="gallery-modal-close" type="button" title="Close">
              <img src="../assets/images/btn_close.png" alt="Modal Gallery Close" />
            </button>
            <div class="gallery-modal-body-inner">
              <div class="owl-theme owl-carousel gallery-modal-carousel" data-name="PopupProduct">
                <div class="item gallery-modal-item">
                  <div class="gallery-modal-item-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="popup">
      <div class="ow justify-content-center popup-wrapper">
        <div class="popup-item popup-game d-flex justify-content-center align-item-center show">
          <div class="animate__animated animate__bounceIn animate__faster">
            <div class="popup-game__container">
              <div class="popup-game__wrapper">
                <iframe src="" data="minigame/index.html" scrolling="no"></iframe>
              </div>
            </div>
            <div class="popup-close" role="button">
              <img src="<%= require('./assets/images/btn_close.png') %>" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
