@use "sass:math";

$modal-width: 970px !default;
$modal-max-width: 970px !default;

$modal-content-background: none !default;
$modal-content-border: none !default;
$modal-content-padding: 1.25rem 1.5rem !default;

$modal-close-width: 80px !default;
$modal-close-height: 80px !default;
$modal-close-padding: 0 !default;
$modal-close-margin: 0 !default;
$modal-close-index: 2 !default;
$modal-close-right: -18px !default;
$modal-close-top: -25px !default;
$modal-close-zIndex: 2 !default;

$modal-body-background: #fff;
$modal-body-padding: 2rem 1rem;
$modal-body-radius: 5px;

$modal-body-inner-height: 340px;

$modal-left-col-width: 53%;
$modal-left-col-padding: 0;

$modal-right-col-width: 45%;
$modal-right-col-padding: 0 0 0 1.5rem;

$modal-image-main-margin: 0 0 1rem 0;

$modal-image-list-margin: 0 -5px;

$modal-image-col-padding: 0 5px;
$modal-image-col-width: 25%;

$modal-image-thumb-height: 60px;
$modal-image-thumb-active-border: 2px solid #fff;

$modal-infor-title-font-family: "NotoSans-Regular";
$modal-infor-title-font-size: 1.7rem;
$modal-infor-title-font-weight: 400;
$modal-infor-title-line-height: 1.125;
$modal-infor-title-margin: 0 0 1rem 0;

$modal-infor-desc-font-family: "NotoSans-Regular";
$modal-infor-desc-font-size: 1.026rem;
$modal-infor-desc-line-height: 1.2;

$owl-nav-position: absolute !default;
// $owl-nav-top: 16px !default;
$owl-nav-background: none !important;
$owl-nav-outline: 0 !important;
$owl-nav-zIndex: 1 !default;

$owl-nav-padding: 1rem !default;
$owl-nav-margin: 0 !default;

$owl-nav-image-height: 80px !default;

$owl-nav-next-right: -100px !default;

$owl-nav-prev-left: -100px !default;

$owl-nav-top: calc(50% - math.div($owl-nav-image-height, 2));