$layout-bg-color: #39285f !default;
$layout-bg-image: false !default;
$layout-min-height: 100vh !default;

$wrapper-full-width: false !default;
$wrapper-max-width: 1200px !default;
$wrapper-box-shadow: none !default;
$wrapper-min-height: $layout-min-height !default;