@use "sass:math";

$owl-carousel-margin-top: 16px !default;

$owl-nav-position: absolute !default;
// $owl-nav-top: 16px !default;
$owl-nav-background: none !important;
$owl-nav-outline: 0 !important;
$owl-nav-zIndex: 1 !default;

$owl-nav-padding: 1rem !default;
$owl-nav-margin: 0 !default;

$owl-nav-image-height: 80px !default;

$owl-nav-next-right: -100px !default;

$owl-nav-prev-left: -100px !default;


$playlist-item-title-font-size: 1rem !default;
$playlist-item-title-font-weight: 600 !default;
$playlist-item-title-line-height: 1.2 !default;

$playlist-item-image-width: 100% !default;
$playlist-item-image-height: auto !default;
$playlist-item-image-margin-bottom: 0 !default;

$owl-nav-top: 21% !default;
