@use './color' as *;

/** Font **/
$default-font-family: Arial, sans-serif !default;
$default-font-size: 16px !default;
$default-line-height: 1.5 !default;
$default-font-weight: normal !default;
$default-font-display: swap !default;

/** Text **/
$default-text-color: $black-color;