@use "sass:math";

$owl-carousel-margin-top: 16px !default;

$owl-nav-position: absolute !default;
// $owl-nav-top: 16px !default;
$owl-nav-background: none !important;
$owl-nav-outline: 0 !important;
$owl-nav-zIndex: 1 !default;

$owl-nav-padding: 1rem !default;
$owl-nav-margin: 0 !default;

$owl-nav-image-height: 80px !default;

$owl-nav-next-right: -100px !default;

$owl-nav-prev-left: -100px !default;


$slider-item-default-opacity: 0.7 !default;

$slider-item-title-font-size: 1rem !default;
$slider-item-title-font-weight: 600 !default;
$slider-item-title-line-height: 1.2 !default;

$slider-item-image-width: 100% !default;
$slider-item-image-height: 160px !default;
$slider-item-image-margin-bottom: 0 !default;

$owl-nav-top: math.div($slider-item-image-height - $owl-nav-image-height, 2) !default;
