$container-margin: 0px !default;
$container-padding: 16px !default;
$container-background: rgb(215, 129, 129) !default;

$control-position: absolute !default;
$control-left: 50% !default;
$control-top: 50% !default;

$control-border: none !default;
$control-radius: 50% !default;
$control-width: 100px !default;
$control-height: 100px !default;

$control-background: none !default;
$control-zIndex: 1 !default;
$control-transform: translate(-50%, -50%) !default;
